<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>book_detail</title>
  </head>
  <body>
    <img
      src="https://cdn.pixabay.com/photo/2018/01/03/09/09/book-3057904_960_720.png"
      alt=""
      ,
      width="500"
    />

    <h1>제목: <%=result[0].book_name%></h1>
    <h3>가격: <%=result[0].book_price%></h3>
    <h3>저자: <%=result[0].author%></h3>
    <h3>출판사: <%=result[0].publisher%></h3>

    <form action="/order">
      <input type="hidden" name="book" value="<%=result[0].book_id%>" />
      <a href="/order">주문하기</a>
    </form>
  </body>
</html>
